html,body{
    background-color: #dbd7c6;
    height: 100%;
    scroll-behavior: smooth;
}
.m-auto{
  margin: auto !important;
}
.mt-n10{
    margin-top: -10% !important;
}

.ratesTable {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 80%;
  margin: auto;
  box-shadow: 0px 0px 1px 1px gray;
}

.ratesTable td, .ratesTable th {
  border: 1px solid #dddddd;
  padding: 8px;
}

.ratesTable tr:nth-child(even) {
  background-color: #dddddd;
}